

.navBar{
width: 80% ;
margin: 0% 10%;
height: 85px;
top: 0px;
background: #C4C4C4;
}

#Cmart{
margin: auto;
top: 10px;
bottom: 10px;

font-family: Tauri;
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 56px;
text-align: center;

color: #FFFFFF;
}

.popular{
  /* position: relative; */
  height: 500px;
  margin: 2.5% 10%;
width: 80%;
background: #96AE8E;
border-radius: 20px;
justify-content: center;



}



.pop1{
  
  /* position: absolute; */
width: 15%;
height: 80%;
background-color: #FFFFFF;
border-radius: 20px;
display: inline-block;
margin: 1% 4%;
padding: 1%;
float: left;



}


.pop_img{
  /* position: absolute; */
  height: 130px;
  justify-content: center;
  display:block;
 

}
.pop_img img{
  height: 100%;
  width: 100%;
}
.popcontent{
  /* position:absolute; */
height: 50%;
font-family: Tauri;
font-style: normal;
font-weight: normal;
/* identical to box height */

text-align: justify;

color: #000000;
}